@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 40vw;
}

.body-light {
    background: #fff;
    color: #212529;

}

.body-dark {
    background: #1b1e1f;
    color: #d1cdc7;
}

.jumbotron-light {
    background: #e9ecef;
}

.jumbotron-dark {
    background: #232627 !important;
}

.form-control-dark {
    color: rgb(181, 175, 166) !important;
    background-color: rgb(24, 26, 27) !important;
    border-color: rgb(60, 65, 68) !important;
}

.text-dark-dark {
    color: rgb(195, 190, 182) !important;
}